body {
    margin: 0;

    background-color: #1C1C1C;
    color: white;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
    "slnt" 0;
}

.top-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 285px;
    width: 550px;

    background-color: #6943FF;
    
    padding: 30px;

    margin: 50px auto;
    margin-bottom: 0px;
}

#quantity {
    height: 83px;
    width: 117px;

    border: 2px solid #B295FF;
    border-radius: 5px;

    background-color: transparent;
    color: inherit;

    text-align: center;

    font-family: inherit;
    font-size: 58px;
    font-weight: bold;

    outline: none;
    overflow: hidden;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

#convert-btn {
    margin-top: 30px;

    height: 42px;
    width: 117px;

    border-radius: 5px;
    border: none;

    background-color: #fff; /* Button background color */
    color: #6943FF; /* Button text color */

    font-size: 16px;
    font-weight: bold; /* Added font-weight for button text */

    cursor: pointer; /* Added cursor for pointer on hover */

    transition: background-color 0.3s, color 0.3s; /* Added transition for smooth color change */
}

#convert-btn:hover {
    background-color: #d2d0d6; 
}

#title-text {
    font-weight: 800;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    background-color: #1F2937;

}

.convert-container {
    width: 500px;
    min-height: 108.57px;
    
    background-color: #273549;

    padding-top: 25px;

    margin: 20px;

    text-align: center;
}

.font-everything {
    font-weight: 600;
    font-size: 20px;
    color:#CCC1FF;
}

p {
    font-weight: 400;
    font-size: 16px; /* Adjusted font size */
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
